.d-item{
    height: 600px;
    .d-img{
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
    }
}

.hero{
    color: $color-vino;
    background-color: rgb(86, 116, 134);
}
.flexible{
    @include contenedorflexible (row)
}
